#! /bin/bash

# {{ ansible_managed }}

ipLAN_prefix="{{ network_prefixes.lan.prefix }}"
ipWLAN_prefix="{{ network_prefixes.wlan.prefix }}"
ipGlobal_prefix="{{ network_prefixes.virtualip.prefix }}"
{% if serveNet_ip is defined %}
ipserveNet="{{ serveNet_ip }}/{{ subnet.serveNet.ip_range | regex_replace('^(?P<ip_address>.+)/(?P<netmask>\\d+)$', '\\g<netmask>') }}"
{% else %}
ipserveNet="NONE"
{% endif %}
devLAN="{{ network_prefixes.lan.device }}"
devWLAN="{{ network_prefixes.wlan.device }}"


if [ "$if_up" = "true" ]
then
	if [ “${interface}” = “${devLAN}” -o “${interface}” = “${devWLAN}” ]
	then
	case ${reason} in 
		BOUND|RENEW|REBIND|REBOOT)
			[ -f /usr/local/bin/assign_additional_ipaddress.sh ] && /usr/local/bin/assign_additional_ipaddress.sh ;;
		STOP|FAILED|EXPIRED|DEPARTED|NAK)
			[ -f /usr/local/bin/assign_additional_ipaddress.sh ] && /usr/local/bin/assign_additional_ipaddress.sh ;;
		esac
	fi
fi